
#https://docs.google.com/document/d/186zRps0TKs83OYbC8o4nRfyl6DKwAKvqnaXNJLiCrKg/edit?usp=sharing# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
