$deep-navy-blue: #112d46;
$navy-blue: #286298;
$sunflower-yellow: #daa520;
$livid-grey: #b2bcc2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(194, 194, 194);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
}
