// Global Colors
$black-header: #1F1F1F;
$black-panel: #242424;
$black-background: #2D2D2D;
$light-grey-background: #303030;
$white-background: #EFEFEF;

// Keyboard Colors
$green-light: #21C400;
$green-mid: #168400;
$green-dark: #147700;
$black-keyboard-key: #101010;
$white-keyboard-key: #EFEFEF;
$yellow-keyboard-key: #FFC552;

// Fret Colors
$red-keyboard-key: #b63939;
$red-keyboard-key: #4e0000;
$red-keyboard-key: #280000;

// Text
$white-text: #CFCFCF;
$grey-text: #ABABAB;
$text-grey: #242424;

// Global Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  width: 100vw;
  min-height: 100vh;
  background-color: $black-background;
  font-family: 'Lexend', 'sans-serif';
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 4em;
  font-family: 'Lexend', 'sans-serif';
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  cursor: pointer;
}