$deep-navy-blue: #112d46;
$navy-blue: #286298;
$sunflower-yellow: #daa520;
$livid-grey: #b2bcc2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(236, 236, 236);
  width: 100vw;
  min-height: 100vh;
  display: block;
  font-family: sans-serif;
}
.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin-top: 3em;
  font-family: "Ubuntu", sans-serif;
}
