$deep-navy-blue: #112d46;
$navy-blue: #286298;
$sunflower-yellow: #daa520;
$livid-grey: #b2bcc2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #2d2d2d;
  width: 100vw;
  min-height: 100vh;
  display: block;
  font-family: sans-serif;
}
.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
  }
