:root {
  --deep-navy-blue: #112D46;
  --navy-blue: #286298;
  --sunflower-yellow: #DAA520;
  --livid-grey: #B2BCC2;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}